<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test_tool</title>
</head>
<body>
    <p><a href="{{ url_for('qp_viems.cdk') }}">壳牌车队卡</a></p>
    <p><a href="{{ url_for('qp_viems.loyalty') }}">壳牌Loyalty</a></p>
    <p><a href="{{ url_for('zdyt_viems.apitest') }}">纸电一体接口测试</a></p>
    <p><a href="{{ url_for('zdyt_viems.get_jm') }}">纸电一体签名加密</a></p>
    <p><a href="{{ url_for('zdyt_viems.get_hztzd') }}">获取红字通知单编号</a></p>
    <p><a href="{{ url_for('zdyt_viems.hztzd_sh') }}">红字通知单审核</a></p>
    <p><a href="{{ url_for('tool_viems.base64') }}">加密工具页面</a></p>
    <p><a href="{{ url_for('command_viems.command') }}">常用命令</a></p>
    <p><a href="{{ url_for('command_viems.testfile') }}">常用测试数据</a></p>
    <p><a href="{{ url_for('xin_sk_viems.ofdtransferomg') }}">ofd转图片测试</a></p>
    <p><a href="{{ url_for('ams_viems.get_ewm') }}">爱马仕获取二维码</a></p>
</body>
</html>